:root {
    --black-bkg: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F18B99;
    --sales-bkg: #4E4544;
    --sales-text-bkg: #FFFFFF;
    --products-bkg: #F8F8F8;
    --advantage-bkg: #222224;
    --button-bck: #FF6A6A;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);
}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link:hover {
    fill: var(--button-bck);
}

.header__link {
    margin: 0 0 0 33px;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__burger:hover+.header__nav,
.header__burger:focus+.header__nav,
.header__burger:active+.header__nav {
    display: block;
    width: 232px;
    fill: #F16D7F;
}

.button_search {
    border: none;
    background-color: transparent;
}

.pink__icon {
    background-color: transparent;
    fill: white;
}

.pink__icon:hover {
    fill: var(--button-bck);
}

.header__nav {
    display: none;
    position: absolute;
    position: right;
    background-color: #FFFFFF;
}

.header__nav:hover {
    background-color: #FFFFFF;
    display: block;
    width: 232px;
}

.header__nav-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.nav-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.nav-item__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-bottom: 12px;
}

.brand {
    display: flex;
}

.brand__img {
    min-width: 800px;
    min-height: 765px;
    background-color: var(--pink-bkg);
}

.brand-title-wrap {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
    border-left: 12px solid var(--button-bck);
    padding-left: 16px;
}

.brand__title__lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__title-pink {
    color: var(--button-bck)
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.sales__item {
    min-width: 360px;
    background-color: var(--sales-bkg);
}

.sales__item--woman {
    background-image: url(../img/woman-sales.jpg);
    min-height: 260px;
}

.sales__item--man {
    background-image: url(../img/man-sales.jpg);
    min-height: 260px;
}

.sales__item--chaild {
    background-image: url(../img/chaild-sales.jpg);
    min-height: 260px;
}

.sales__item--choes {
    background-image: url(../img/choes-sales.jpg);
    width: 100%;
    margin-top: 30px;
    mask-repeat: no-repeat;
    min-height: 180px;
}

.sales__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--sales-text-bkg);
    align-items: center;
    padding: 105px 0 0 0;
    text-transform: uppercase;
}

.sales__item-text-choes {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--sales-text-bkg);
    align-items: center;
    padding: 65px 0 0 0;
    text-transform: uppercase;
}

.sales__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--pink-color);
    text-transform: uppercase;
}

.products__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 6px;
}

.products__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    position: relative;
    width: 360px;
    background-color: var(--products-bkg);
    margin-bottom: 30px;
}

.button__add-to-cart {
    padding: 10px 13px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    top: 33%;
    left: 30%;
    background-color: transparent;
    display: none;
}

.overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    display: none;
}

.button__add-img {
    width: 25px;
    margin-right: 11px;
}

.products__item:hover .button__add-to-cart,
.products__item:hover .overlay {
    display: block;
}

.products__item-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    padding: 25px 0 0 18px;
}

.products__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 18px 0 0 13px;
}

.products__item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
    padding: 18px 0 18px 18px;
}

.products__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid var(--button-bck);
    padding: 14px 39px;
    background-color: transparent;
    align-items: center;
    margin-top: 30px;

}

.products__button:hover {
    background-color: var(--button-bck);
    color: white;
}

.products {
    margin-bottom: 95px;
    align-items: center;
}

.advantage {
    background-color: var(--advantage-bkg);
}

.advantage__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage__item-img {
    padding-top: 100px;
    padding-bottom: 28px;
}

.advantage__item-title {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
    padding-bottom: 16px;
}

.advantage__item-text {
    width: 80%;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin: 0 auto;
    padding-bottom: 100px;
}

.products__wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__wrp--preview {
    background-image: url(../img/bkgfooter.jpg);
    min-height: 448px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 85px;
}

.footer__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    align-items: center;
    padding-top: 32px;
}

.footer__tittle-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 32px;
}

.footer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
    padding-bottom: 1px;
}

.footer__contacts--prewiev {
    background-color: var(--black-bkg);
    min-height: 80px;
}

.footer__contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.footer__contacts-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.svg__social-icon {
    display: flex;
}

.svg__icon {
    padding: 0 0 0 5px;
}

.svg_box:hover {}